<% content_for :menutop do %>
	<%= render 'layouts/menutop' %>
<% end %>

<h3>Productos para Restaurar:</h3>
<%= render 'layouts/productlist' %>

<% content_for :footer do %>
	<%= render 'layouts/footer' %>
<% end %>
